html
  head
    title Snomed release #{release} - &Auml;ndrade begrepp

body
    h1 &Auml;ndrade begrepp
    p Antal begrepp i den svenska utg&aring;van som &auml;ndrats sedan tidigare release är #{results[0].ct}.
    