html
  head
    title Snomed release #{results.release}

body
    h1 Nya begrepp
    p Antal nya begrepp i den svenska utg&aring;van uppdelat p&aring; respektive hierarki i Snomed CT.
    table
        for hierarchy in results
            tr
                td #{hierarchy.term}
                td #{hierarchy.ct}