html
  head
    title Snomed release #{release} - Nya begrepp

body
    h1 Nya begrepp
    p Antal nya begrepp i den svenska utg&aring;van uppdelat p&aring; respektive hierarki i Snomed CT.
    table
        for hierarchy in results
            tr
                td #{hierarchy.fsn}
                td #{hierarchy.ct}