html
    head
        title Snomed release #{release} - V&auml;lj fråga
    body
        h1 V&auml;lj fråga

        ul
            for query in queries
                li
                    a(href='/query/' + query.id + '/' + release) #{query.description}

            li a(href='/all-queries/' + release) Alla fr&aring;gor samtidigt
    