html
  head
    title V&auml;lj release

  body
    form(action="/check-release", method="get")
        label V&auml;lj release
        select(name='release')
            for release in results
                option(value=release) #{release}
        button(type="submit")
